/*======= Nav-BAR ========*/
@import "../_mixins.scss";

.nav {
  &__container {
    z-index: 4;
    @include flex();
    padding: 0 2rem;
    li{
      font-size: 13px;
    }
  }
  &__wrapper {
    color: white;
    max-width: var(--maxWidth);
    width: 100%;
    padding: 1.3rem 0rem;
    @include flex($gap: 4.5rem);
  }
  &__item-logo {
    margin-right: auto;
    background-color: aqua;
    @include respond(tablet-portrait) {
      margin-right: auto;
    }
  }
  &__item {
    @include respond(tablet-portrait) {
      display: none;
    }
  }
  &__item-auth {
    // margin-left: auto;
    background: linear-gradient(to right, #1b407a,#1d4480, #1b3f77);
    border-radius: 100px;
    padding: .5rem 1.3rem;
    @include respond(small-tablet) {
      display: none;
    }
  }
}
